.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}

/* 고정 헤더 */
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  padding: 12px 3%;
  background-color: white;
  z-index: 1000;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

.left {
  flex-shrink: 0;
}

.logo img {
  width: 140px;
  height: auto;
}

.icons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.disabled {
  pointer-events: none;
  opacity: 0.3;
  transition: opacity 0.3s;
}

/* sticky 메뉴바 */
.centerSticky {
  position: sticky;
  top: 180px; /* icons 영역 아래로 고정 */
  background-color: white;
  z-index: 1000;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

.nav ul {
  display: flex;
  justify-content: center;
  gap: 3rem;
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 150;
}

/* 사용자 아이콘 스타일 */
.userIcon {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  color: #6b6b6b;
}
